# Env
.venv

# Private
#.env
*.local
.streamlit/secrets.toml

#Personal dev config
pylintrc
ruff.toml
.Scripts

#PandasAi
/cache
*.log
/exports

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?