# Env
.venv
venv

# Private
#.env
*.local
.streamlit/secrets.toml

# Personal dev prefs
pylintrc
ruff.toml
.Scripts

# PandasAi
/cache
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env*.local
