.ChatMessage {
    padding: .5em;
    border-radius: .5em;
    &.user {
        background: #f4f4f4;
        .avatar {
            order: 1;
        }
    }
    .text {
        font-size: .9em;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
    img.fetching {
        width: 3em;
    }
}