.DataSource {
    width: 100%;
    display: flex;
    gap: 0 1em;

    .fieldset {
        width: 45%;
    }

    .media-prefs {
        margin-top: 1em;

        .mantine-Textarea-root {
            margin-top: 0 !important;
        }
    }
}

@media (max-width:1080px) {
    .DataSource {
        flex-direction: column;
        gap: 1em 0;
        .fieldset {
            width: 100%;
        }
    }

}