:root {
    --app-shell-header-height: 80px;
}

.App {
    header {
        background: #fae3d9;
    }

    .main {

    }

    .navbar {
        /*background: rgba(34, 139, 230, 0.1);*/
        background: var(--color-primary);
    }
}

@media (prefers-reduced-motion: no-preference) {
}

